body {
  font-family: montserrat;
  background-color: #313866;

}

.contenedor {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: #EADBC8;
  background: linear-gradient(to bottom, #974EC3 0%, #504099 100%);
  box-shadow: 0px 10px 13px -7px #7d069a, 12px 6px 35px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #1C6EA4;
  border-radius: 17px 17px 40px 40px;
}

h1 {
  color: #f3eeff;
}

h2,
p {
  color: #f3eeff;
}


input {
  font-family: montserrat;
  padding: 8.5px;
  font-size: 16px;
  width: 70%;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4c0bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

#datosClima {
  margin-top: 20px;
  font-size: 18px;
}

img {
  background: #964ec346;
  border-radius: 50px;
  padding: 20px;
}

.loader {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 60px;
  color: #d7abeb85;
  --c: radial-gradient(farthest-side, currentColor 96%, #0000);
  background:
    var(--c) 100% 100% /30% 60%,
    var(--c) 70% 0 /50% 100%,
    var(--c) 0 100% /36% 68%,
    var(--c) 27% 18% /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to {
    transform: scale(1.8);
    opacity: 0
  }
}